[project]
	description = Robinhood Policy Engine : a versatile tool to monitor filesystem contents and schedule actions on filesystem entries.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Guilbault (guilbaults)
[access "refs/for/refs/*"]
	read = group user/Simon Guilbault (guilbaults)
	push = group user/Simon Guilbault (guilbaults)
	label-Code-Review = -2..+2 group user/Simon Guilbault (guilbaults)
	label-Verified = -1..+1 group user/Simon Guilbault (guilbaults)
	rebase = group user/Simon Guilbault (guilbaults)
	removeReviewer = group user/Simon Guilbault (guilbaults)
	submit = group user/Simon Guilbault (guilbaults)
[access "refs/heads/*"]
	read = group user/Simon Guilbault (guilbaults)
	create = group user/Simon Guilbault (guilbaults)
	push = +force group user/Simon Guilbault (guilbaults)
	pushMerge = group user/Simon Guilbault (guilbaults)
[access "refs/tags/*"]
	push = group user/Simon Guilbault (guilbaults)
	push = +force group user/Simon Guilbault (guilbaults)
